        body {
            margin: 0;
            padding: 0;
        }
        
        .list ul {
            background-color: rgb(116, 112, 112);
            height: auto;
        }
        
        .list li a:hover {
            text-decoration: none;
            border-radius: 5px;
            color: black;
        }
        
        .list li:hover {
            text-decoration: none;
            border-radius: 5px;
            color: black;
        }
        
        .list ul li {
            list-style: none;
            display: inline-block;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 20px;
            margin-bottom: 10px;
            color: white;
        }
        
        dl,
        ol,
        ul {
            margin-top: 0;
            margin-bottom: 0;
        }
        
        .list ul li a {
            color: white;
        }
        
        article {
            background-color: #ffd153;
            width: auto;
            height: 350px;
            margin-top: auto;
            text-align: center;
        }
        
        p1 {
            font-size: 50px;
            line-height: 60px;
            color: white;
        }
        
        p2 {
            font-size: 45px;
            color: white;
        }
        
        .image {
            margin-top: auto;
            height: 250px;
        }
        
        .image:hover {
            transform: scale(1.05)
        }
        
        .p {
            font-size: 25px;
            text-decoration: underline;
        }
        
        main {
            text-align: center;
            margin-top: 30px;
        }
        
        .img img {
            width: 150px;
            height: auto;
            margin: 30px 30px 0 30px;
        }
        
        .img img:hover {
            transform: scale(1.2);
        }
        
        .footer {
            background-color: #5361ff;
            text-align: center;
            color: white;
        }
        
        .footer a {
            color: white;
        }
        
        .footer a:hover {
            color: black;
        }
        
        .social li a img {
            width: 37px;
            height: auto;
            border-radius: 15px;
            margin: 10px 10px 10px 10px;
        }
        
        .social li a img:hover {
            transform: scale(1.2);
        }
        
        footer {
            background-color: #5366ff;
            margin-top: 50px;
        }
        
        .social {
            text-align: center;
            list-style: none;
        }
        
        span ul li {
            display: inline-flex;
            margin: auto;
        }
        
        #thanks {
            font-size: 15px;
            color: white;
        }
        
        #mobile {
            font-size: 15px;
            color: white;
        }
        
        #email {
            font-size: 15-px;
            color: white;
        }
        
        footer div {
            text-align: center;
        }
        
        @media only screen and (max-width: 992px) {
            .list ul {
                display: grid;
                text-align: center;
                padding-left: 0;
                margin-left: -21px;
            }
        }
